{
  "CaseCode": "Off",
  "Dependencies": [
    {
      "Alias": "XL",
      "Inject": 2,
      "URL": "https://github.com/the-carlisle-group/XL2APL",
      "ProjectSpace": "#.XL2APL",    
      "Version": "0.0.10"
    }
  ],
  "KeepHistory": "Off",
  "StartUp": "",
  "Variables": "Off",
  "URL":"https://github.com/PaulMansour/Utilities",
  "Group":"PSM",
  "Version": "0.0.6"
}
