{
  "CaseCode": "Off",
  "Dependencies": [
    {
      "Alias": "XL",
      "Inject": 2,
      "URL": "https://github.com/the-carlisle-group/XL2APL",
      "Version": "0.0.9"
    }
  ],
  "EntrySpace": "",
  "GitHubAccount": "PaulMansour",
  "KeepHistory": "Off",
  "Open": "",
  "ProjectSpace": "#.PaulMansour.Utilities",
  "SCMexit": "",
  "StartUp": "",
  "Variables": "Off",
  "Version": "0.0.6"
}
